.card-container {
  position: relative;
  border-radius: 15px;
  height: 150px;
  width: 120px;
  display: flex;
  border: 2px solid white;
}
.image-icon {
  filter: invert(1);
  width: 40%;
}
.icon-text {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  width: 80%;
}
