/* .background-image {
  background-image: url('../assets/bran-hero1-scaled.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  height: 150vh; 
} */
* {
  /* cursor: none; */
}
.logo {
  position: fixed;
  height: auto;
  width: 200px;
}

.black-container {
  margin-top: 100px;
  padding-top: 200px;
  /* padding-right: 240px; */
  height: auto;
  background-color: black;
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
}
.button {
  z-index: 1;
  height: 50px;
  width: 250px;
  border-radius: 25px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  position: relative;
  overflow: hidden;
  color: black;
}

.button:after {
  z-index: -1;
  content: '';
  position: absolute;
  top: 50%;
  left: 92%;
  transform: translate(-50%, -50%) scale(1); /* Start with a small size */
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #00a3e9;
  transition: transform 0.7s; /* Use transform for smooth scaling */
}

.button:hover:after {
  transform: translate(-50%, -50%) scale(50); /* Grow to a larger size */
}
.cursor {
  background-color: #00a3e9;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
}
.blue-text {
  color: #00a3e9;
}

svg {
  /* background-color: blue; */
  height: 100%;
  width: 100%;
}

path {
  stroke: white;
  fill: none;
}
.sliderVertical {
  position: absolute;
  left: 87%;
}
